.layout {
  display: flex;
  min-height: 100vh;
}

.header {
  .logo {
    height: 40px;
    font-size: 1.4em;
    margin: 13px 20px 0 0;
    color: #fff;
    line-height: 40px;
    padding: 0 10px 0 30px;
    display: inline-block;
    position: relative;

    &:hover {
      color: #fff;
    }

    &:before {
      content: '⇋';
      font-size: 30px;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale3d(0.6, 1, 1);
    }
  }

  .add-button-wrapper {
    height: auto;
    text-align: right;
  }

  .add-button {
    background: transparent !important;
    color: #fff;

    &:hover {
      background: transparent;
    }
  }
}

.main-container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;

  .ant-breadcrumb {
    padding: 16px 0;
  }

  .content {
    flex:1;
    padding: 24px;
    background: #fff;
  }
}